@import 'normalize.css';

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import '@/assets/fonts/RubikWetPaint/RubikWetPaint.css';
/* @import 'https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap'; */

*,
*::before,
*::after {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

html,
body,
#root {
  overflow: hidden;

  width: 100%;
  height: 100%;

  user-select: none;
}

body {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.canvas__container {
  touch-action: none;
}

.html__wrapper {
  pointer-events: none;
}

.text__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;

  margin-top: 6%;

  color: white;
  font-family: 'Rubik Wet Paint', system-ui, sans-serif;
}

h1 {
  margin: 0;

  font-size: 7rem;
  letter-spacing: 3px;
}

h2 {
  font-size: 4rem;
  letter-spacing: 1px;
}

.text__greet {
  margin-left: 248px;
}

.text--gradient {
  position: relative;

  color: transparent;
  white-space: nowrap;
}

.text__greet::before,
.text__name::before {
  content: attr(data-text);
  position: absolute;
  top: 4%;
  left: -0.5%;

  color: black;
  white-space: nowrap;
  text-shadow:
    -1px -1px 3px #ff8080,
    -1px -1px 3px #fee2e2;
}

.text__greet::after,
.text__name::after {
  content: attr(data-text);
  position: absolute;
  top: 0%;
  left: 0%;

  background: linear-gradient(120deg, #561410 0%, #f87171 75%, #fecaca 100%);
  background-clip: text;

  white-space: nowrap;
}

@font-face {
  font-family: 'neon';
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.text__intro {
  color: #fef08a;
  font-family: neon;
  font-size: 1.1rem;
  line-height: 90px;
  letter-spacing: 1px;
  text-shadow: -0.2vw 0.2vw 0.2vw #ca8a04;
}

.text--neon {
  animation: neon 6s ease-in-out infinite;
  -moz-animation: neon 6s ease-in-out infinite;
  -webkit-animation: neon 6s ease-in-out infinite;
  -o-animation: neon 6s ease-in-out infinite;
}

@keyframes neon {
  0%,
  100% {
    color: #fef08a;
    text-shadow:
      0 0 0.2vw #dc2626,
      0 0 0.3vw #dc2626,
      -0.2vw 0.2vw 0.2vw #ca8a04;
  }
  50% {
    color: #fefce8;
    text-shadow: 0vw 0vw 0.1vw #a16207;
  }
}
